*.bed
*.bim
*.fam
*.haps
*.log
*.impute.gz
*.sample
*.gz
*.out
*.mm
*.nosex
*.cluster1
*.cluster2
*.cluster3
*.frq
*.irem
*.mds
*.snplist
*.done
*summary
*warnings
PLINK_SPLIT.sh
tmp*
shapeit_array.sh
imputeFiles/*